.nav{
    @include flexbox( space-between , 87%);
    margin: 0 auto;
    align-items: center;

    &_logo{
        color:$white;
        font-size: 30px;
    }
    &_navbar{
        @include flexbox(space-around,60%);
        font-size: 17px;
    
    a{
        color: $white;
        transition: 0.3s all linear ;
        @include setHover(color,tomato);
            }
        }
    }